.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}
#liBoutUs{
  float: right;
}
.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: black;
  color:#fff;
}
.button {

  margin-top: 1%;
  border-radius: 3px;
  background-color: #008dba;
  border: solid 1px transparent;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}
.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

input.right {
  float: right;
}
#footer{
  background-color: #111;
  display: flexbox;
  text-align: center;
  height:100px;
}
.button {
  background-color: #FF56FF;
  border: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li  {
  float: left;
}

a{
  cursor: pointer;
}
li  #link  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li  #link:hover {
  animation-name: hoverNav;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
}
.active {
  background-color: #008dba;
}
 
@keyframes hoverNav{
  from{background-color:#333;}
  to{background-color:#111;}
}

#logo{
  height: 40px;
  width: 300px;
}



