legend{
    color: rgb(255, 255, 255);
  }

.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}



.fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 500px;
}   
fieldset{
    width: fit-content;
  }



.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background:#272727;
  color:#fff;
}


body {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);
    
  }
#footer{
    background-color: #111;
    display: flexbox;
    text-align: center;
    height:100px;
    padding-right: 10%;
  }

.fixed_header th, .fixed_header td {
  padding: 10px;
  text-align: left;
  width: 200px;
}

button.p{
    vertical-align: sub;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li  {
  float: left;
}

a{
  cursor: pointer;
}

li  #link  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li  #link:hover {
  animation-name: hoverNav;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
}
.active {
  background-color: #008dba;
}
 
#logo{
  height: 40px;
  width: 300px;
}
#footer{
  background-color: #111;
  display: flexbox;
  text-align: center;
  height:100px;
}
#liBoutUs{
  float: right;
}
@keyframes hoverNav{
  from{background-color:#333;}
  to{background-color:#111;}
}
#add{
  float: right;
  background-color: #008dba;
  border: solid 1px transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#add:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}

.button {

  margin-top: 1%;
  border-radius: 3px;
  background-color: #008dba;
  border: solid 1px transparent;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}

